

.CategoryBox {
  background-color: #3c303c52;
  border: 2px solid #393039;
  transition: all ease .1s;
  cursor: pointer;
  width: 80px !important;

  img {
    width: 36px;
    height: 32px;
    margin: auto;
    text-align: center;
    position: relative;

  }

  h2 {
    font-size: .75em;
    font-family: museosans, serif;
    color: rgba(255,255,255,.89);
    line-height: 1.2;
    text-align: center;
    text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: -7px;

  }


  &:hover {
    box-shadow: inset 0 0 5px #dcadff;
  }
}
