@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,600;1,700;1,800;1,900&display=swap');

.Store {



  .main-store {
    background-color: rgba(35,28,35,.95);
    box-shadow: 0 0 17px #dcadff;

    .title {
      font-family: museosans, serif;
      padding: 20px;
      letter-spacing: 10px;
      color: rgba(255,255,255,.89);
      text-shadow: 3px 1px 5px rgba(0, 0, 0, 69);
    }
  }


  .filters input {
    background-color: #1d181d;
    outline: none;
    color: #FFFFFF;
    height: 2.1rem;
    width: 100%;
    font-size: .8rem;
    box-sizing: content-box;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #352c35;

  }


  .sidebar {
    .btn {
      width: 100%;
      border-radius: 0;
      font-family: cinzel, serif;
      height: 50px;
      letter-spacing: 1px;
      font-size: 13px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
      margin-top: 1em;

      &:hover {
        filter: brightness(200%) !important;
      }
    }

    .btn-success {
      border: 2px solid #2a3f29;
      box-shadow: 0 0 10px #1a500a5c;
    }
    .btn-info {
      border: 2px solid #304d55;
      box-shadow: 0 0 10px #0a4f505c;
    }
  }
}
