

.PlayNow {

  .download-game {
    margin-top: 120px !important;
  }

  .main-store {

    margin-bottom: 200px !important;
  }

  .input-container {
    margin-left: 70px;

  }

  .input-help {
    font-size: .75rem;
    margin-top: 0.25rem;
    color: #ccc9d4;
    margin-left: 8rem;
  }
}
