
.btn {
  width: 100%;
  border-radius: 0 !important;
  font-family: cinzel, serif;
  height: 50px;
  letter-spacing: 1px;
  font-size: 13px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
  margin-top: 1em;

  &:hover {
    filter: brightness(150%) !important;
  }
}

.btn-success {
  border: 2px solid #2a3f29;
  box-shadow: 0 0 10px #1a500a5c;
}
.btn-info {
  border: 2px solid #304d55;
  box-shadow: 0 0 10px #0a4f505c;
}

input {
  background-color: #1d181d;
  outline: none;
  color: #FFF;
  height: 2.1rem;
  width: 100%;
  font-size: .8rem;
  box-sizing: content-box;
  padding-left: 10px;
  margin-top: 5px;
  border: 1px solid #352c35;
  transition: box-shadow .3s,border .3s,-webkit-box-shadow .3s;

  &:focus {
    border-bottom: 1px solid #a295ae;
    box-shadow: 0 1px 0 0 #decbae;
  }
}


.vote-btn {
  background-color: #8D4735 !important;
  color: #0a0003 !important;
  text-shadow: none;
  font-size: 16px !important;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif!important;
}


.regular-text {
  font-size: 14px;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif!important;
  color: #d3d3d3;
}
